/*This how you write comments in css*/
a { 
   color: red; 
   text-align: center;
  }

span {
      text-shadow: 2px 2px 5px green;
      text-align: right;
     }
	 
h1 {
	text-shadow: 2px 2px 5px red;
	text-align: center
   }