/*--------------------
    GENERIC STYLES
    ----------------*/

body {
    background-color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 165%;
    text-align: center;
    color: greenyellow;
}

h1, h2 {
    font-size: 55px;
    text-shadow: 2px 2px 5px rgb(228, 158, 8);
    text-align: center
}

form input[type="text"] {
    width: 20%;
    margin: 5px;
    border: 2px solid red;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }